h2 {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

input {
    height: 20px;
    border: 1px solid #b8b6b6;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 5px;
    padding: 0 5px ;
    outline: none;
}

input:focus {
    border: 1px solid lightseagreen;
}

.list_title {
    font-weight: 600;
}

main ul {
    padding-left: 5px;
}

main li {
    display: grid;
    grid-template-columns: 250px 200px 80px 150px 90px 100px 100px 50px;
    align-items: center;
}

main section {
    background-color: #efefef75;
    padding: 10px 20px 20px 20px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sec_add_edit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: none;
    padding: 0;
    border: none;
}

.book_add {
    margin-top: 10px;
    width: 50%;
    background-color: lightcoral;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.book_edit {
    margin-top: 10px;
    width: 50%;
    background-color: lightgreen;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
}

.btn_add_edit {
    margin-top: 5px;
    padding: 5px 20px;
    cursor: pointer;
    border: 1px solid lightslategray;
    border-radius: 5px;
    transition: all 250ms ease-in-out;
}

.btn_add_edit:hover {
    background-color: #dadada;
}

.div_btn {
    display: flex;
    justify-content: right;
}

@media(max-width:1700px) {
    .hidden {
        display: none;
    }

    main li {
        grid-template-columns: 220px 30px 30px;
    }
}

@media(max-width:510px) {
    .hidden {
        display: none;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec_list_books{
        width: 98%;
    }

    .sec_add_edit {
        flex-direction: column;
        align-items: center;
        width: 91%;
    }

    .book_add {
        width: 100%;
        padding: 10px 20px 20px 20px;

    }

    .book_edit {
        width: 100%;
        padding: 10px 20px 20px 20px;
    }

    main li {
        grid-template-columns: 210px 30px 30px;
    }

    main section {
        padding: 5px 10px 10px 8px;
        
    }
}