body {
    margin: 0;
    background-color: #FCFCFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 16px;
    font-family: "Roboto Flex", sans-serif;
    max-width: 1920px;
    min-height: 100vh
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
/* ---Header */
header {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 65%;
}

header section {
    width: 100%;
}

.menu {

    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    padding: 0;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    margin-top: 5px;
}

/* ---Main */
main {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    width: 65%;
}

.content {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 13px;
}

.div_content {
    display: flex;
    justify-content: center;
}

/* ---object */
.object {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    height: 500px;
    border: 1px solid #ebe9e9;
    border-radius: 3px;
}

h2 {
    width: 90%;
    font-size: 18px;
    font-weight: 600;
    color: #242424;
}

h3 {
    font-size: 16px;
    color: rgb(248, 57, 57);
    font-weight: 600;
}

h4 {
    font-size: 15px;
    margin: 3px 0;
    font-weight: 600;
    color: #242424
}

.book_img img {
    width: 250px;
    object-fit: center;
}

.book_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 170px;
    border-radius: 3px;
}

.price_like {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.like img {
    cursor: pointer;
}

.book_detail_in {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.book_detail {
    width: 90%;
    display: flex;
    gap: 5px;
}

.book_comments {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
    overflow-y: auto;
    margin-bottom: 10px;
    height: 110px;
}

h5 {
    font-size: 14px;
    margin: 3px 0;
    font-weight: 600;
    color: #686767
}

p {
    font-size: 14px;
    margin: 3px 0;
    font-weight: 500;
    color: #686767
}

.send_comment {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 90%;
    margin-bottom: 10px;
}

.comment_text {
    width: 90%;
    border: 1px solid #dbdada;
    border-radius: 3px;
    height: 20px;
}

.send_comment_img {
    width: 22px;
    cursor: pointer;
}

.favorite_icon {
    width: 25px;
    cursor: pointer;
}

/* ---Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin-bottom: 30px;
}

footer section {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.datenschutz_impressum {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.datenschutz_impressum a{
    font-size: 14px;
    margin: 3px 0;
    font-weight: 500;
    color: #686767
}

/* ---Responsiv */
@media(max-width:1100px) {

    /* ---Footer */
    footer section {
        flex-direction: column;
        align-items: center;
    }
    footer section p {
        text-align: center;
    }
}

@media(max-width:768px) {

    /* ---Header */
    header {
        min-width: 90%;
    }

    /* ---Main */
    main {
        width: 90%;
    }

    /* ---Footer */
    footer {
        width: 90%;
    }
}
@media(max-width:1200px) {

    /* ---Header */
    header {
        min-width: 80%;
    }

    /* ---Main */
    main {
        width: 80%;
    }

    /* ---Footer */
    footer {
        width: 80%;
    }
}